<section class="container-fluid" id="section1">

    <div class="v-center">
        <h1 style="z-index:1000; color:	#FFF5EE; font-weight:bold; font-family:Jeju Gothic; font-size:8vh" class=" text-center ">KHU CAFE</h1>
        <hr>
        
        <division> 
       <div class="time" style="font-family:Hanna; text-align:center; color:#FFFFF0">현재 <span id="clock"></span> 입니다<br /></div>
              <div class="time" style="font-family:Hanna; text-align:center; color:#FFFFF0">현재 열려있는 카페는 <span id="count"></span>개 입니다<br /></div>

        </division>
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
    
    
</section>
<!--
<section class="container-fluid"  id="section3">
     <h1 class="text-center" style ="font-family:Hanna;">어떤 카페를 갈까?</h1>
    
    <div class="container" style="margin-top:80px;">
        <div class="row" style="font-family:lato;" >
            
            <div class="col-sm-8 text-center">
                <div class="row jeju" >
                    <div class="col-sm-12 text-center" >
                        <div class="panel panel-default slideInUp animate">
                            <form style="margin-top:40px;" action="/home/write" method="POST">
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Talk About Cafe</label>
                                      <input type="text" class="form-control" name="title" id="exampleInputEmail1" placeholder="제목">
                                    </div>
                                    <textarea class="form-control" rows="5" id="content" name="content" placeholder="내용"></textarea>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                  </form>
                                  <% @post.each do |p| %>
                                      <div class="well">
                                          <p style="font-weight:bold;"><%= p.title %></p>
                                          <p><%= p.content %></p>
                                          
                                          <div id="comment_<%= p.id %>">        
                                            <% p.comments.each do |r| %>
                                              <p><%= r.content %></p>
                                              
                                            <% end %>
                                          </div>
                                          
                                            <textarea class="form-control" rows="2" id="content_<%= p.id%>" name="content"></textarea>
                                            <button value="<%= p.id %>" type="submit" class="btn btn-default comment_submit">Submit</button>
                                      </div>
                                  <% end %>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>-->
        <!--/row--><!--
        <div class="row">
            <br>
        </div>
    </div>-->
    <!--/container-->
<!--</section> -->
<section class="container-fluid" id="section2">
    <a name="distance">
	<div class ="container">
     
        <div class="row">
            <p style="font-size:35px; font-family:Hanna;  color: #ffffff ;" class="text-center ">카페지도</p>
        </div>    
        
        <div class="row">
            <div class="col-xs-12 col-md-8" scrolling = no style="height:500px; margin-top: 50px; margin-bottom: 20px;">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
            
            <div class="col-xs-6 col-md-4 jeju" style="height:500px; margin-top: 50px; margin-bottom: 20px; border-radius:10px">
                <form style="margin-top:40px;" action="/home/write" method="POST">
               <h2 class="cafeinfo">카페정보</h2><br/><br/><br/>
                <div class="well">
                  <label>Cafe name : </label>
                  <text style="font-weight:bold;" name ="cafename" id ="cafename">Cafe</text>
                </div>
                <div class="well">
                  <label>Drink menu : </label>
                  <text style="font-weight:bold;" name ="drink" id = "drink">Drink</text>
                </div>
                <div class="well">
                  <label>Open : </label>
                  <text style="font-weight:bold;" name ="opentime" id = "opentime">Time</text>
                </div>
                <div class="well">
                  <label>Close : </label>
                  <text style="font-weight:bold;" name ="closetime" id = "closetime">Time</text>
                </div>
                
                </form>
            </div>
        </div>
     
</div>

   <!-- services와 clusterer 라이브러리 불러오기 -->
   
    

	
</section>






<section class="container-fluid" id="section4"><a name="distance">
    </a><a name="mood">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <h2 class="text-center hanna">이달의 카페</h2>
            <hr>
            <div class="media jeju">
                <h3 >Two rabbit</h3></br>
                <div class="media-left">
            <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13335898_992344214214183_3775970513142618856_n.jpg?oh=20fe6e67ac01dea784119b05348676b4&amp;oe=57D23291" style="width: 300px;">
                </div>
                <div class="media-body media-middle">
                 <table style="text-align:center; float:right">
                        <tr>
                             <td class="title" style="width:50%">영업시간</td>
                             <td class="context">24시간 오픈</td>
                        </tr>
                        <tr>
                             <td class="title" style="width:50%">스터디룸 여부</td>
                             <td class="context">스터디룸 O(2시간 공짜/</br>이후 일인당 1000원(시간당))</td>
                        </tr>
                        <tr>
                             <td class="title" style="width:50%">리필가능 여부</td>
                             <td class="context">아메리카노 리필가능</br>(머그잔 주문시/비용 1000원)</td>
                        </tr>
                        <tr>
                             <td class="title" style="width:50%">위치</td>
                             <td class="context">경기 수원시 영통구 덕영대로 1695 2층</td>
                        </tr>
                        <tr>
                             <td class="title" style="width:50%">전화번호</td>
                             <td class="context">031-206-0111</td>
                        </tr>
                        
                      
                    </table>
                </div>
            </div>
            <hr>
          
            <!--  나머지 것들도 탐탐한 것 참고해서 바꾸면 됩니다.-->
          
              
            
            
            
        </div>
    </div>
</a></section>



<section id="section5">
    <div class="container v-center">
        <div class="row">
            <div class="col-md-12 hanna">
                <h1 class="text-center " style="row:5;" >의견을 남겨주세요.</h1>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <form action="home/manage" method="POST">
                    <div class="row form-group ">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="제목" required="">
                        </div>
                    </div>
                    
                    
                    <div class="row form-group ">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputCafename" name="cafename" placeholder="카페" >
                       </div> 
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputOpent" name="opent" placeholder="여는시간" >
                        </div>
                    </div>
                    
                    <div class="row form-group ">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputCloset" name="closet" placeholder="닫는시간" >
                        </div>
             
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputdrink" name="drink" placeholder="메뉴" >
                        </div>
                    </div>
                 
                    <div class="row form-group ">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputstudyroom" name="studyroom" placeholder="스터디룸">
                        </div>
            
         
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="exampleInputcontactnumber" name="contactnumber" placeholder="전화번호">
                        </div>
                    </div>
              
                 
                    
                    
                    
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="exampleInputPassword1" name="content" rows="5" id="comment" placeholder="의견을 남겨주세요" required=""></textarea>
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default btn-lg pull-right hanna">Contact Us</button>
                        </div>
                    </div>
                    
                </form>
            </div>
           
            <div class="col-md-3 pull-right hanna">
                <address>
                  <strong>Address</strong><br>
                  경기도 용인시 기흥구 덕영대로 1732<br>
                  P: (031)-201-3114
                </address>
                <address>
                  <strong>Email Us</strong><br>
                  <a href="mailto:#">master@likelion.net</a>
                </address>
            </div>

        </div>
    </div>
    
    
</section>




<section class="container-fluid" id="section7">
        
    <div class="row">
        <!--fontawesome icons-->
        
        <div class="col-md-4 col-sm-1 col-xs-4 text-center">
            <i class="fa fa-foursquare fa-4x"></i>
        </div>
        <div class="col-md-4">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="line-height:130%"><br>
           
            <img src="http://class.likelion.net/assets/likelion_text-b7b5aed6954af442181e1a7b82bf265963638a731bcfd839f343845c28a0947f.png" style="width:100%; height:100%"/>
           
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-md-4 hanna style-2" style="float:right; text-align:center; text-decoration:none;"><a href="home/info">만든이들</a></div>
    </div>
    
    
</section>



<div class="scroll-up">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="text-center"><img src="//placehold.it/110" class="img-circle"><br>Login</h2>
            </div>
            <div class="modal-body row">
                <h6 class="text-center">COMPLETE THESE FIELDS TO SIGN UP</h6>
                <form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg btn-block">Sign In</button>
                        <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <h6 class="text-center"><a href="">Privacy is important to us. Click here to read why.</a></h6>
            </div>
        </div>
    </div>
</div>
    <!--scripts loaded here-->
    
    